.App {
  background: url(./images/blackGradientBackgoundPNG.png) no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  color: #fff;
}

.home {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.container {
  min-height: 100vh;
  width: 70%;
}

.app-grid {
  min-height: 100%;
  display: grid;
  grid-template-areas:
    'cover-image'
    'skills-bar'
    'icon-bar';
  grid-template-columns: 100%;
  grid-template-rows: 4fr 1fr 1fr;
}
.grid-cover-image {
  grid-area: cover-image;
  display: grid;
  grid-template-areas: 'cover-text cover-image';
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100%;
}

.grid-cover-image .cover-text {
  width: 100%;
  margin: auto;
  font-size: 1.75rem;
  user-select: none;
}

.grid-cover-image .cover-text span {
  color: #358cd6;
}

.grid-cover-image img {
  width: auto;
  max-height: 100%;
  user-select: none;
}

.grid-skills-bar {
  grid-area: skills-bar;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills-bar {
  width: 100%;
  height: fit-content;
  padding: 0 0 3px 0;
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  background-color: rgba(20, 20, 20, 0.8);
  box-shadow: 0 0 30px 5px #000;
}

.grid-icon-bar {
  grid-area: icon-bar;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-icon-bar .icon-bar {
  width: 100%;
  padding: 0 0 3px 0;
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: space-around;
}

/* MENU COMPONENT */

/* MENU BUTTON */
.menu-btn {
  position: fixed;
  z-index: 4;
  top: 50px;
  right: 50px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.menu-btn .btn-line {
  width: 56px;
  height: 6px;
  background-color: #fff;
  margin: 0 0 8px 0;
  transition: all 0.5s ease-out;
}

.menu-btn-animation {
  animation-name: menu-btn-animation;
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}

@keyframes menu-btn-animation {
  0% {
    box-shadow: 0 0 0px 0px #fff;
  }
  50% {
    box-shadow: 0 0 1px 1px #fff;
  }
  100% {
    box-shadow: 0 0 0px 0px #fff;
  }
}

.menu-btn.close {
  transform: rotate(180deg);
}

.menu-btn.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(20px, 0);
}
.menu-btn.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}
.menu-btn.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(19px, 1px);
}

/* MENU PANELS */
.menu {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
}

/* LEFT PANEL */
.menu .left-panel {
  width: 60%;
  height: 100%;
  background: url(./images/leftMenuPanel.jpg) no-repeat;
  background-size: cover;
  transform: translate3d(-100%, 0, 0);
  visibility: hidden;
  transition: all 0.5s ease-out;
  z-index: 3;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 20px 1px #000;
}

.menu .left-panel.show {
  transform: translate3d(0, 0, 0);
  visibility: visible;
}

.menu .left-panel-grid {
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-areas:
    'portrait'
    'quote'
    'contact-details'
    'icon-links';
  grid-template-columns: 100%;
  grid-template-rows: 2fr 1fr 0.5fr 1fr;
}

.left-panel-grid .grid-portrait {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.grid-portrait p {
  padding-top: 5px;
  text-shadow: 1px 1px 5px 5px #000;
  user-select: none;
}

.grid-portrait .circle-crop {
  width: 30%;
  height: auto;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 15px 1px #000;
}

.left-panel-grid .grid-portrait img {
  width: 100%;
  height: auto;
  user-select: none;
}

.grid-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-info .info-card {
  width: 75%;
  font-size: 1.25rem;
  font-style: italic;
  user-select: none;
}

.info-card span {
  display: block;
  float: right;
  font-size: 1rem;
  padding-top: 2px;
}

.grid-contact-details {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-contact-details .contact-card {
  width: 90%;
  height: 90%;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.grid-icon-links {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu .grid-icon-links .icon-bar {
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  justify-content: space-around;
}

/* RIGHT PANEL */
.menu .right-panel {
  width: 40%;
  height: 100%;
  background: url(./images/rightMenuPanel.jpg) no-repeat;
  background-size: cover;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-out;
  z-index: 2;
}

.menu .right-panel.show {
  transform: translate3d(0, 0, 0);
}

.menu-nav {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  justify-content: space-around;
  font-size: 3rem;
  text-transform: uppercase;
}

.menu-nav .nav-item {
  list-style-type: none;
  text-shadow: 0px 0px 10px #000;
  cursor: pointer;
  user-select: none;
  opacity: 0;
  transition: all 0.4s ease-in;
}

.link {
  text-decoration: none;
}

.nav-item:nth-child(1) {
  transition-delay: 0.2s;
}
.nav-item:nth-child(2) {
  transition-delay: 0.2s;
}
.nav-item:nth-child(3) {
  transition-delay: 0.3s;
}
.nav-item:nth-child(4) {
  transition-delay: 0.4s;
}

.menu-nav .nav-item.show {
  opacity: 1;
}

.menu-nav .nav-item.current > p {
  color: #358cd6;
}

.menu-nav .nav-link {
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.menu-nav .nav-link:hover {
  color: #358cd6;
}

/* MOBILE MENU COMPONENT */
.mobile-menu {
  display: none;
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
}

.mobile-menu-panel {
  width: 70%;
  height: 100%;
  background: url(./images/leftMenuPanel.jpg) no-repeat;
  background-size: cover;
  transform: translate3d(-100%, 0, 0);
  visibility: hidden;
  transition: all 0.5s ease-out;
  z-index: 3;
  box-shadow: 0 0 20px 1px #000;
  position: fixed; /* MONITOR */
}

.mobile-menu-panel.show {
  transform: translate3d(0, 0, 0);
  visibility: visible;
}

.mobile-menu .close-menu.show {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.mobile-menu-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    'mobile-portrait'
    'mobile-nav'
    'mobile-email'
    'mobile-links';
  grid-template-columns: 100%;
  grid-template-rows: 1fr 2fr 0.5fr 0.5fr;
}

.mobile-menu-grid .grid-portrait {
  grid-area: mobile-portrait;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mobile-menu-grid .grid-portrait p {
  padding-top: 20px;
  text-shadow: 1px 1px 5px 5px #000;
  user-select: none;
}

.mobile-menu-grid .circle-crop {
  width: 30%;
  height: auto;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 15px 1px #000;
}

.mobile-menu-grid .grid-portrait img {
  width: 100%;
  height: auto;
  user-select: none;
}

.mobile-menu-grid .grid-nav {
  grid-area: mobile-nav;
}

.mobile-menu-grid .grid-email {
  grid-area: mobile-email;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px grey solid;
}

.mobile-menu-grid .grid-links {
  grid-area: mobile-links;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* SKILL COMPONENT */
.Skill {
  font-size: 1.5rem;
  user-select: none;
}
.Skill .p {
  display: inline-block;
}
.Skill .item {
  color: #358cd6;
}

.Skill .tag {
  color: #808080;
}

/* ICON COMPONENT */
.icon {
  color: #a3a3a3;
  transition: all 0.2s ease-out;
}
.icon:hover {
  color: #fff;
}

/* PROJECTS PAGE */
.projects {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-page-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    'top'
    'projects';
  grid-template-columns: 100%;
  grid-template-rows: 1fr 3fr;
}

.projects .top {
  grid-area: top;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.projects .top .line {
  display: block;
  width: 8rem;
  margin-top: 5px;
  text-align: center;
  color: #808080;
  border-bottom: 4px solid #358cd6;
}

.projects-container {
  grid-area: projects;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* PROJECT STUFF on the Projects Page */
.project {
  width: 25%;
  height: 85%;
  border-radius: 25px;
  background: url(./images/rightMenuPanel.jpg) no-repeat;
  background-size: cover;
  color: #fff;
  box-shadow: 0 0 15px 0px #000;
  cursor: pointer;
  z-index: 1;
}

.project:hover {
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 15px 0px #000;
  }
  50% {
    box-shadow: 0 0 15px 0px #358cd6;
  }
  100% {
    box-shadow: 0 0 15px 0px #000;
  }
}

/* POP UP */
.bg-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  transition: all 0.5s ease-out;
  transform: translate3d(0, -100%, 0);
  opacity: 0;
  /* display: none; */
}

.bg-popup.show {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.close-popup {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 6;
}

.popup {
  width: 45%;
  height: 90%;
  z-index: 7;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(./images/rightMenuPanel.jpg);
  border-radius: 25px;
  box-shadow: 0 0 20px 2px #000;
  font-size: 3rem;
  position: relative;
  cursor: default;
}

.popup-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    'title'
    'thumbnail'
    'description'
    'icons';
  grid-template-columns: 100%;
  grid-template-rows: 1fr 2fr 2fr 1fr;
}

.popup-grid .grid-title .btn-close {
  font-size: 5rem;
  position: absolute;
  top: -30px;
  right: 5px;
  transform: rotate(45deg);
  cursor: pointer;
  user-select: none;
}

.popup-grid .grid-title p {
  user-select: none;
}

.popup-grid .grid-carousel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.popup-grid .grid-carousel img {
  width: 90%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 15px 0px #000;
  user-select: none;
}

.slideshow {
  width: 80%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 15px 0px #000;
}

.slideshow img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.popup-grid .grid-description {
  padding-top: 5px;
  font-size: 1.5rem;
}

.popup-grid .grid-description p {
  width: 80%;
  user-select: none;
}

.popup-grid .grid-icons {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: 'languages icons';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
}

.popup-grid .grid-icons .languages-container {
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  justify-content: space-around;
  padding: 5px;
  border-right: 2px solid #808080;
}

.languages-container .icon {
  color: #358cd6;
}

.popup-grid .grid-icons .links-container {
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  justify-content: space-around;
}

/* PROJECT COMPONENT */
.project-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    'title'
    'thumbnail'
    'description'
    'links';
  grid-template-columns: 100%;
  grid-template-rows: 1fr 2fr 2fr 1fr;
}

.project-grid .grid-title p {
  font-size: 1.5rem;
  user-select: none;
}

.project-grid .grid-thumbnail img {
  width: 90%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px 0px #000;
  user-select: none;
}

.project-grid .grid-description p {
  width: 80%;
  font-size: 1.2rem;
  user-select: none;
}

.project-grid .grid-links {
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  justify-content: space-around;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ABOUT PAGE */
.about {
  width: 100%;
  min-height: 100%;
}

.about-page-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    'heading heading'
    'graph graph'
    'icons about';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr 2fr;
}

.about-page-grid .grid-heading {
  grid-area: heading;
  margin-top: 2rem;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.about-page-grid .line {
  display: block;
  width: 8rem;
  margin-top: 5px;
  text-align: center;
  color: #808080;
  border-bottom: 4px solid #358cd6;
}

.grid-graph {
  grid-area: graph;
  width: 100%;
  height: 100%;
}

.graph-container {
  width: 70%;
  height: 100%;
  margin-top: 1rem;
  /* border: 1px solid #fff; */
}

.graph-container-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    '. beginner intermediate advanced expert'
    'js js-beg js-int js-adv .'
    'html html-beg html-int html-adv.'
    'css css-beg css-int css-adv .'
    'react react-beg react-int . .'
    'cs cs-beg . . .'
    'ps ps-beg ps-int . .';
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.graph-container-grid .heading {
  font-size: 1.25rem;
  margin: auto;
}

.graph-container-grid .side-heading {
  font-size: 1.25rem;
  margin: auto 0;
}

.graph-container-grid .cell {
  width: 50%;
  height: 50%;
  background: #358cd6;
  border-radius: 2px;
  margin: auto;
  overflow: hidden;
}

.beginner {
  grid-area: beginner;
}

.intermediate {
  grid-area: intermediate;
}

.advanced {
  grid-area: advanced;
}

.expert {
  grid-area: expert;
}

.js {
  grid-area: js;
}

.js-beg {
  grid-area: js-beg;
}

.js-int {
  grid-area: js-int;
}

.js-adv {
  grid-area: js-adv;
}

.html {
  grid-area: html;
}

.html-beg {
  grid-area: html-beg;
}

.html-int {
  grid-area: html-int;
}

.html-adv {
  grid-area: html-adv;
}

.css {
  grid-area: css;
}

.css-beg {
  grid-area: css-beg;
}

.css-int {
  grid-area: css-int;
}

.css-adv {
  grid-area: css-adv;
}

.react {
  grid-area: react;
}

.react-beg {
  grid-area: react-beg;
}

.react-int {
  grid-area: react-int;
}

.cs {
  grid-area: cs;
}

.cs-beg {
  grid-area: cs-beg;
}

.ps {
  grid-area: ps;
}

.ps-beg {
  grid-area: ps-beg;
}

.ps-int {
  grid-area: ps-int;
}

.grid-icons {
  grid-area: icons;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.grid-icons .icon {
  color: #358cd6;
}

.grid-icons .icon-section {
  width: 40%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.icon-section .title {
  font-size: 1.25rem;
}

.icon-section .descripton {
  width: 80%;
}

.grid-about {
  grid-area: about;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.grid-about p {
  width: 80%;
  font-size: 1.5rem;
}

/* CONTACT PAGE */
.contact {
  width: 100%;
  min-height: 100%;
}

.contact-page-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    'heading'
    'contact-form'
    'contact-page-links';
  grid-template-columns: 100%;
  grid-template-rows: 1fr 3fr 1fr;
}

.contact-page-grid .grid-heading {
  grid-area: heading;
  margin-top: 2rem;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.contact-page-grid .line {
  display: block;
  width: 8rem;
  margin-top: 5px;
  text-align: center;
  color: #808080;
  border-bottom: 4px solid #358cd6;
}

.grid-contact-form {
  grid-area: contact-form;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-page-grid .contact-text {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  color: #358cd6;
}

.contact-form {
  width: 40%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.contact-form input[type='text'],
.contact-form input[type='email'] {
  width: 100%;
  height: 2rem;
  color: #fff;
  background-color: rgba(51, 51, 51, 0.9);
  border: none;
  margin-bottom: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.contact-form textarea {
  width: 100%;
  height: 50%;
  color: #fff;
  background-color: rgba(51, 51, 51, 0.9);
  border: none;
  margin-bottom: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.contact-form .btn-container {
  width: 100%;
}

.contact-form .btn-submit {
  float: right;
  margin-top: 2px;
  padding: 5px 15px;
  letter-spacing: 0.1em;
  font-size: 1.25rem;
  color: #fff;
  border: 2px solid #358cd6;
  background: #333;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.contact-form input[type='submit']:hover {
  background: #358cd6;
  color: #fff;
}

.contact-form .btn-submit-success {
  float: right;
  margin-top: 2px;
  padding: 5px 15px;
  letter-spacing: 0.1em;
  font-size: 1.25rem;
  color: #333;
  border: 2px solid #1eff1e;
  background: #1eff1e;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.contact-form .btn-submit-fail {
  float: right;
  margin-top: 2px;
  padding: 5px 15px;
  letter-spacing: 0.1em;
  font-size: 1.25rem;
  color: #fff;
  border: 2px solid #cc0000;
  background: #cc0000;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.contact-form .error-message {
  font-size: 1rem;
  color: #ff0000;
  display: none;
}

.contact-form .error-message.show {
  display: inline;
}

.grid-contactpage-links {
  grid-area: contact-page-links;
  width: 100%;
  height: 100%;
}

.grid-contactpage-links .icon-bar {
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* --- MEDIA QUERIES --- */
@media (max-width: 600px) {
  .container {
    width: 100%;
  }

  .app-grid {
    grid-template-rows: 2fr 2fr 1fr;
  }

  .grid-cover-image .cover-text {
    font-size: 1.25rem;
    margin-left: 2rem;
    margin-top: 80%;
  }

  .grid-cover-image img {
    width: auto;
    max-height: 90%;
    margin-top: 3rem;
  }

  .skills-bar {
    background-color: rgba(20, 20, 20, 0);
    box-shadow: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
  }

  .Skill {
    padding-top: 1rem;
  }

  .menu-btn {
    position: fixed;
    top: 30px;
    right: 30px;
  }

  .menu-nav {
    font-size: 2rem;
    border-top: 1px grey solid;
    border-bottom: 1px grey solid;
  }

  .menu {
    display: none;
  }

  .mobile-menu {
    display: flex;
  }

  /* projects page */
  .projects-page-grid {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .projects .top {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  .projects-container {
    flex-direction: column;
  }

  .project {
    width: 80%;
    height: auto;
    background-size: cover;
    color: #fff;
    box-shadow: 0 0 15px 0px #000;
    cursor: pointer;
    z-index: 1;
    margin-bottom: 1rem;
  }

  .bg-popup {
    position: fixed;
  }

  .popup {
    width: 90%;
    height: 80%;
    position: fixed;
  }

  .popup-grid .grid-title p {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .popup-grid .grid-description p {
    font-size: 1.25rem;
  }

  .popup-grid .grid-title .btn-close {
    font-size: 3rem;
    top: -10px;
    right: 10px;
    user-select: none;
  }

  .popup-grid .grid-icons .languages-container {
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    justify-content: space-around;
    padding: 5px;
    border-right: 2px solid #808080;
  }

  .languages-container .icon {
    color: #358cd6;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  .popup-grid .grid-icons .links-container {
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    justify-content: center;
  }

  /* ABOUT PAGE */
  .about {
    font-size: 0.5rem;
  }

  /* CONTACT PAGE */
  .contact-page-grid .grid-heading {
    margin-top: 5rem;
  }

  .contact-page-grid .contact-text {
    font-size: 1rem;
  }

  .contact-form {
    width: 80%;
  }

  .grid-contactpage-links .icon-bar {
    width: 80%;
  }
}
